MONGODB_URI=<mongodb uri connection string>
PORT=<any port number>
NODE_ENV=development
CORS_ORIGIN=<local or production origin>
ACCESS_TOKEN_SECRET=<generated access secret>
ACCESS_TOKEN_EXPIRY=<eg. 1d>
REFRESH_TOKEN_SECRET=<generated refresh secret>
REFRESH_TOKEN_EXPIRY=<eg. 10d>
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_API_KEY=
CLOUDINARY_CLOUD_SECRET=
